body{
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
/* Header */
.header--main{
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}
.header--sec{
    font-weight: 300;
    font-size: 42px;
    color: #ffffff;
}
.header--sub{

    font-size: 21px;
    color: gray;
}
/* Links */
.link--ca{
    font-size:16px;
    color:aquamarine;
}
/*footer Links*/
link--footer{
    text-align: left;
    font-size: 21px;
    color: gray;
}
